.main {
    padding-bottom: 400px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    background: #f6f3f4;
}
.sideTab {
    a {
        text-align: center;
    }
}
::v-deep .searchBox .van-field {
    height: 100%;
    line-height: 1;
    padding: 0;
    background: none;
}

::v-deep .dpd .van-field {
    height: 100%;
    line-height: 1;
    padding: 0;
    background: none;
}

::v-deep .slectBox .van-dropdown-menu__bar {
    height: 100%;
    background: none;
    box-shadow: none;
}

::v-deep .slectBox .van-dropdown-menu__title--active::after {
    color: #000;
}

::v-deep .slectBox  .van-dropdown-menu__title--active {
    color: #000;
}
::v-deep.van-popup {
    background: transparent;
}
::v-deep  .stepperValue .van-stepper  {
    display: flex;
}
::v-deep  .stepperValue .van-stepper__input {
    flex: 1;
}
@media (max-width: 768px) {
}