.main {
    padding-bottom: 400px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    background: #f6f3f4;
}
.setBtn {
    position: absolute;
    z-index: 1000;
}
.setPop {
    position: absolute;
}
.kpiMod {
    .box {
        .wallet-icon {
            width: 18px;
            height: 18px;
            color: #3b82f6; /* 蓝色 */
        }
    }
}
::v-deep .checkBox .van-checkbox__icon {
   width: 100%;
   height: 100%;
}

::v-deep .checkBox .van-checkbox__icon .van-icon {
    width: 100%;
    height: 100%;
    line-height: 100%;
 }

@media (max-width: 768px) {
}