.main {
    padding-bottom: 400px;
    box-sizing: border-box;
}
.border-emerald-600 {
    border-color: #096;
}
::v-deep .searchBox .van-field {
    border-color: #e2e8f0;
    line-height: 1.5;
    padding: 0 0;
    height: 100%;
}
::v-deep .searchBox .van-field__body {
    height: 100%;
}
::v-deep .van-count-down {
    color: #c70036;
}

@media screen and (min-width: 750px) {
    
    
}