::v-deep .van-checkbox__icon .van-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-color: #000;
    border-radius: 6px;
}
::v-deep .van-checkbox__icon {
    height: 30px;
}
::v-deep .van-checkbox {
    margin-top: 30px;
}

@media screen and (min-width: 700px) {
    ::v-deep .van-checkbox__icon .van-icon {
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-color: #000;
        border-radius: 6px;
    }
    ::v-deep .van-checkbox__icon {
        height: 20px;
    }
    ::v-deep .van-checkbox {
        margin-top: 20px;
    }
    
}
